<!DOCTYPE html>
<html lang="en">
<head>
    <title>Book Browsing</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div class="jumbotron">
    <div class="container text-center">
        <h1>Book Cart/Orders</h1>      
    </div>
</div>

<nav class="navbar navbar-inverse">
<div class="container-fluid">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
    </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
        <li><a href="http://localhost:8000/bookBrowsing">Books</a></li>
        <li><a href="http://localhost:8000/customisationPage">Customise Book Printing</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li class="active"><a href="http://localhost:8000/bookCartOrder"><span class="glyphicon glyphicon-shopping-cart"></span> Book Cart</a></li>
        <li><a href="http://localhost:8000/customisationOrders"><span class="glyphicon glyphicon-shopping-cart"></span> Customised Printing Orders</a></li>
        <li><a href="http://localhost:8000/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
    </ul>
    </div>
</div>
</nav>
<div class="container">
    <div class="row">
    <p><h2>Shopping Cart</h2></p>
        <div class="col-sm-12">
            <div>
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <ul class=flashes>
                    {% for message in messages %}
                    <li>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
                {% endwith %}
            </div>
            {% if 'cart_item' in session %}
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th class="text-center">Unit Price</th>
                        <th class="text-center">Price</th>
                        <th> </th>
                    </tr>
                </thead>
                <tbody>
        {% for key, value in session['cart_item'].items() %}
        {% set quantity = session['cart_item'][key]['quantity'] %}
        {% set price = session['cart_item'][key]['price'] %}
        {% set item_price = session['cart_item'][key]['total_price'] %} 
                <tr>
                    <td class="col-sm-8 col-md-6">
                    <div class="media">
                        <a class="thumbnail pull-left" href="#"> <img class="media-object" src="/static/styles/photos/{{ session['cart_item'][key]['image'] }}" style="width: 72px; height: 72px;"> </a>
                        <div class="media-body">
                            <h4 class="media-heading">{{ session['cart_item'][key]['bookTitle'] }}</h4>
                        </div>
                    </div></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>{{ quantity }} </strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>${{ price }} </strong></td>
                    <td class="col-sm-1 col-md-1 text-center"><strong>${{ item_price }} </strong></td>
                    <td class="col-sm-1 col-md-1">
                    <a href="{{ url_for('.delete_product', bookCode=session['cart_item'][key]['bookCode']) }}" class="btn btn-danger">
                        <span class="glyphicon glyphicon-remove"></span> Remove
                    </a></td>
                </tr>
        {% endfor %}
                <tr>
                    <td colspan="4"><h5>Total Quantity</h5></td>
                    <td class="text-right"><h5><strong>{{ session['all_total_quantity'] }}</strong></h5></td>
                </tr>
                <tr>
                    <td colspan="3"><h3>Total</h3></td>
                    <td colspan="2" class="text-right"><h3><strong>$ {{ session['all_total_price'] }}</strong></h3></td>
                </tr>
                <tr>
                    <td>
                    <form action="http://localhost:8000/bookCartOrder/submit" method="post">
                    <button type="submit" class="btn btn-success">
                        Checkout <span class="glyphicon glyphicon-play"></span>
                    </button></td></form>
                </tr>
                </tbody>
            </table>
            {% else: %}
            <div class="no-records">Your Cart is Empty</div>
            {% endif %}
        </div>
    </div>
</div>
               
<section class="our-publication pt-100 pb-70">
    <div class="container">
        <div class="section-header">
            <i class="fa fa-book"></i>
            <h2>Your Orders</h2>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th class="col-sm-8 col-md-6" style="margin: auto;">Book OrderID</t>
                <th class="col-sm-8 col-md-6" style="margin: auto;">Book Code</th>
                <th class="col-sm-8 col-md-6" style="margin: auto;">Amount</th>
                <th class="col-sm-8 col-md-6" style="margin: auto;">Price</th>
            </tr>
            </thead>
            <tbody>
            {% for bookOrder in bookOrders %}
            <tr>
                <td class="col-sm-8 col-md-6">
                <div class="media">
                    <div class="media-body">
                    <h4 class="media-heading" style="margin: auto;">{{ bookOrder.bookOrderID }}</h4>
                    </div>
                </div>
                </td>
                <td class="col-sm-8 col-md-6" style="margin: auto;">{{ bookOrder.bookCode }}</td>
                <td class="col-sm-8 col-md-6" style="margin: auto;">{{ bookOrder.amount }}</td>
                <td class="col-sm-8 col-md-6" style="margin: auto;">${{ bookOrder.price }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</section>  
</body>
</html>
