<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style1.css') }}">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.3/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron">
  <div class="container text-center">
    <h1>Printing Customisation</h1>      
  </div>
</div>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a href="http://localhost:8000/bookBrowsing">Books</a></li>
        <li class="active"><a href="http://localhost:8000/customisationPage">Customise Book Printing</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="http://localhost:8000/bookCartOrder"><span class="glyphicon glyphicon-shopping-cart"></span> Book Cart</a></li>
        <li><a href="http://localhost:8000/customisationOrders"><span class="glyphicon glyphicon-shopping-cart"></span> Customised Printing Orders</a></li>
        <li><a href="http://localhost:8000/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="container" style="margin-top: 50px; margin-bottom: 50px;">
  <form action="http://localhost:8000/customisationPage/add" method="post">
    <div class="row">
      <div class="col-25">
        <label for="fname">Book Name</label>
      </div>
      <div class="col-75">
        <input type="text" id="bookName" name="customiseBookName" placeholder="Book Name..">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="bookType">Book Type</label>
      </div>
      <div class="col-75">
        <input type="radio" id="cased_boardbook" name="bookType" value="cased_boardbook">
        <div class="blah"><label for="cased_boardbook">Cased Boardbook</label></div>
        <img src="static/styles/photos/cased_boardbook.jpg" style="height: 250px; width: 250px;">
        <br><br>

        <input type="radio" id="flip_flap_book" name="bookType" value="flip_flap_book">
        <div class="blah"><label for="flip_flap_book">Flip Flap Book</label></div>
        <img src="static/styles/photos/flip_flap_book.png" style="height: 250px; width: 250px;">
        <br><br>

        <input type="radio" id="hard_back_cook_book" name="bookType" value="hard_back_cook_book">
        <div class="blah"><label for="hard_back_cook_book">Hardback Cook Book</label></div>
        <img src="static/styles/photos/hard_back_cook_book.jpg" style="height: 250px; width: 250px;">
        <br><br>

        <input type="radio" id="paper_back_cook_book" name="bookType" value="paper_back_cook_book">
        <div class="blah"><label for="paper_back_cook_book">Paperback Cook Book</label></div>
        <img src="static/styles/photos/paperback_cook_book.jpg" style="height: 250px; width: 250px;">
        <br><br>

        <input type="radio" id="board_book" name="bookType" value="board_book">
        <div class="blah"><label for="board_book">Board Book</label></div>
        <img src="static/styles/photos/board_book.png" style="height: 250px; width: 250px;">
        <br><br>

        <input type="radio" id="touch_and_feel_board_book" name="bookType" value="touch_and_feel_board_book">
        <div class="blah"><label for="touch_and_feel_board_book">Touch and Feel book</label></div>
        <img src="static/styles/photos/touch_and_feel_boardbook.jpg" style="height: 250px; width: 250px;">
        <br><br>
      </div>
    </div>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
  </form>
</div>

</body>
</html>
