<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">
    <title>Reset Password Success</title>
</head>
<body>
    <section>
        <div class="form-box3">
            <div class="success">
                <img src="static/styles/photos/checkmark-circle-outline.svg">
            </div>
            <div>
                <h2>Password Reset Success!</h2>
            </div>
            <div class="logIn">
                <a href="http://localhost:8000/logIn">Log In</a>
            </div>
        </div>
    </section>
</body>
</html>