<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Reset Password</title>
</head>
<body>
    <section>
        <div class="form-box2">
            <div class="form-value">
                <form action="" method="post">
                    <h2>Reset Password</h2>
                    <div class="inputbox">
                        <img src="photos/person-outline.svg"></img>
                        <input type="text" required>
                        <label for="userName">Username</label>
                    </div>
                    <div class="inputbox">
                        <img src="photos/call-outline.svg"></img>
                        <input type="tel" required>
                        <label for="phoneNumber">Phone Number</label>
                    </div>
                    <div class="inputbox">
                        <img src="photos/lock-closed-outline.svg"></img>
                        <input type="password" required>
                        <label for="pw">New Password</label>
                    </div>
                    <div class="inputbox">
                        <img src="photos/alert-outline.svg"></img>
                        <input type="password" required>
                        <label for="pw">Confirm Password</label>
                    </div>
                    <button type="submit">Reset Password</button>
                </form>
            </div>
        </div>
    </section>
</body>
</html>